.active {
  color: #4C8B05;
  font-weight: bold;
}

a {
  color: #233F02;
}

a:hover {
  color: #427804;
  text-decoration: none;
}

#bank-bg {
  background-color: #b5c7a1;
}

#footer {
  background-color: #1a2f01;
  color: #b5c7a1;
  padding: 10px;
  text-align: center;
}